{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />

  <title>Kanal Awards</title>
</head>

<body>
  <div class="container-fluid header text-center">
    <img src="{% static 'images/kanal_awards.png' %}" class="img-responsive margin" style="display:inline" width="350" height="350">
  </div>

  <div class="container-fluid desc">
    <div class="row">
      <div class="col-sm-6 offset-sm-3 text-center">
        <p>
          <b>جشنوارهٔ کانال</b>
          به زودی برگزار خواهد شد. اگر فکر می‌کنید پیام شما از برترین پیام‌های کانال است، آن را برای ما بفرستید تا در این جشنواره سهیم
          باشید! لازم به ذکر است که پیام‌ها پس از انتخاب داوران به رای‌گیری اعضای کانال گذاشته می‌شود و جوایزی به برندگان
          اهدا می‌شود.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid register">
    <div class="row">
      <div class="col-sm-4 offset-sm-4 text-center">
        <p>
          پیام خود را در جشنواره ثبت کنید!
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 offset-sm-4 text-center">
        {% load bootstrap4 %}
        <form action="/" method="post" class="form">
          {% csrf_token %} {% bootstrap_form form layout='inline' %} {% buttons %}
          <button type="submit" class="btn btn-primary">ثبت پیام</button>
          {% endbuttons %}
        </form>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>
